<div class="container">
<h1>Editing Character</h1>

<%= render 'form', character: @character, game_id: @game_id, user_id: @user_id %>

<%= link_to 'Show', @character %> |
<%= link_to 'Back', characters_path %>
</div>