<div class="container">
<h1>New Character</h1>
<h5> Available Skill Points <span  id="points"></span> </h5>
<h5 id="practices"></h5>
<%= render 'form', character: @character, game: @game %>

<%= link_to 'Back', game_path(@game_id), class: "btn btn-info" %>

</div>