// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn.btn-danger{
	float:right;
}

.btn.btn-success{
	float:right;
}

.not-button{
	cursor: pointer;
	display: inline-block;
	background-color: blue;
	float: right;
	margin-right: 10px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	width: 75px;
	height: 25px;
	padding-left: 10px;
}